.fa-icon {
    line-height: 0 !important;
}

.icon {
    display: inline-block;
    outline: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;

    &.icon-mysoft {
        background-image: url('@/assets/images/icons/mysoft.png');
        background-size: 620px 486px;
        width: 620px;
        height: 486px;
    }
}
